In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in /opt/conda/lib/python3.10/site-packages (24.3.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql

In [4]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [5]:
import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

In [6]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

### Available fare conditions for flights from AER to SVO (i.e. from Adler/Sochi to Sheremetevo/Moscow)

In [7]:
%%sql $CONNECT_DATA
    SELECT distinct fare_conditions
    FROM ticket_flights
    WHERE flight_id IN (
        SELECT flight_id
        FROM flights f
        WHERE f.departure_airport='AER' AND f.arrival_airport='SVO'
    )

3 rows affected.

[('Business',), ('Comfort',), ('Economy',)]

### A list of aircraft models which fly to the Yakutsk AND Abakan cities

In [8]:
%%sql
    SELECT model FROM aircrafts WHERE aircraft_code IN (
        SELECT aircraft_code FROM flights WHERE flights.arrival_airport IN (
            SELECT airport_code FROM airports WHERE airports.city IN ('Yakutsk', 'Abakan')
            )
        GROUP BY aircraft_code HAVING COUNT(distinct arrival_airport) = 2
    )

 * postgresql://reader:***@10.129.0.25/demo
1 rows affected.

[('Airbus A319-100',)]

### A list of aircraft models which fly to the Yakutsk OR Abakan cities

In [9]:
%%sql
    SELECT model FROM aircrafts WHERE aircraft_code IN (
        SELECT aircraft_code FROM flights WHERE flights.arrival_airport IN (
            SELECT airport_code FROM airports WHERE airports.city IN ('Yakutsk', 'Abakan')
            )
    )

 * postgresql://reader:***@10.129.0.25/demo
5 rows affected.

[('Airbus A319-100',),
 ('Cessna 208 Caravan',),
 ('Bombardier CRJ-200',),
 ('Boeing 737-300',),
 ('Sukhoi Superjet-100',)]

### A list of aircrafts which DON’T fly to Yakutsk city

In [10]:
%%sql
    SELECT model FROM aircrafts WHERE aircraft_code NOT IN (
        SELECT aircraft_code FROM flights WHERE flights.arrival_airport IN (
            SELECT airport_code FROM airports WHERE airports.city='Yakutsk'
            )
    )

 * postgresql://reader:***@10.129.0.25/demo
6 rows affected.

[('Boeing 777-300',),
 ('Boeing 767-300',),
 ('Airbus A320-200',),
 ('Airbus A321-200',),
 ('Boeing 737-300',),
 ('Cessna 208 Caravan',)]

### Airport codes related to Mrs. 'ELLA DMITRIEVA'  - from where and to where she flew.

In [11]:
%%sql
    SELECT departure_airport, arrival_airport, status FROM flights WHERE status='Arrived' AND flight_id IN (
        SELECT flight_id FROM ticket_flights WHERE ticket_no IN (
            SELECT ticket_no FROM tickets WHERE passenger_name='ELLA DMITRIEVA'
        )
    )

 * postgresql://reader:***@10.129.0.25/demo
5 rows affected.

[('SVO', 'SVX', 'Arrived'),
 ('SVX', 'MQF', 'Arrived'),
 ('DME', 'HMA', 'Arrived'),
 ('DME', 'UUS', 'Arrived'),
 ('HMA', 'DME', 'Arrived')]