In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
%load_ext sql

In [3]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [4]:
import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

In [5]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

### 1. For the given ticket_no  0005432312164, find: who and where flew
Provide solutions in 3 ways:
- a query with subqueries (nested queries)
- a query with no subqueries and no joins
- a query with joins

1) a query with subqueries (nested queries)

In [11]:
%%sql $CONNECT_DATA
SELECT 
    (SELECT t.passenger_name 
    FROM tickets t 
    WHERE t.ticket_no = '0005432312164'
    ) AS passenger,

    (SELECT d.city
     FROM airports d
     WHERE d.airport_code = f.departure_airport
    ) AS departure_city,

    (SELECT a.city
     FROM airports a
     WHERE a.airport_code = f.arrival_airport
    ) AS arrival_city

FROM 
    flights f
WHERE 
    f.flight_id IN (
        SELECT tf.flight_id
        FROM ticket_flights tf
        WHERE tf.ticket_no = '0005432312164'
    );

4 rows affected.

[('ALEKSEY GERASIMOV', 'Moscow', 'Belgorod'),
 ('ALEKSEY GERASIMOV', 'Anapa', 'Belgorod'),
 ('ALEKSEY GERASIMOV', 'Belgorod', 'Moscow'),
 ('ALEKSEY GERASIMOV', 'Belgorod', 'Anapa')]

2) a query with no subqueries and no joins

In [7]:
%%sql $CONNECT_DATA
    SELECT 
        passenger_name, 
        departure_airport, 
        arrival_airport
    FROM tickets, flights, ticket_flights
    WHERE tickets.ticket_no = '0005432312164'
      AND flights.flight_id = ticket_flights.flight_id 
      AND ticket_flights.ticket_no = tickets.ticket_no;

4 rows affected.

[('ALEKSEY GERASIMOV', 'DME', 'EGO'),
 ('ALEKSEY GERASIMOV', 'AAQ', 'EGO'),
 ('ALEKSEY GERASIMOV', 'EGO', 'DME'),
 ('ALEKSEY GERASIMOV', 'EGO', 'AAQ')]

3) a query with joins

In [8]:
%%sql 
    SELECT 
        t.passenger_name,
        f.departure_airport,
        f.arrival_airport
    FROM tickets t
    JOIN ticket_flights tf ON t.ticket_no = tf.ticket_no
    JOIN flights f ON tf.flight_id = f.flight_id
    WHERE t.ticket_no = '0005432312164'

 * postgresql://reader:***@10.129.0.25/demo
4 rows affected.

[('ALEKSEY GERASIMOV', 'DME', 'EGO'),
 ('ALEKSEY GERASIMOV', 'AAQ', 'EGO'),
 ('ALEKSEY GERASIMOV', 'EGO', 'DME'),
 ('ALEKSEY GERASIMOV', 'EGO', 'AAQ')]

### Airport codes related to Mrs. 'ELLA DMITRIEVA'  - from where and to where she flew.

In [9]:
%%sql $CONNECT_DATA
SELECT 
    dep_airports.city AS departure_city,
    arr_airports.city AS arrival_city
FROM Flights
JOIN Ticket_flights USING (flight_id)
JOIN Tickets USING (ticket_no)
JOIN Airports AS dep_airports ON Flights.departure_airport = dep_airports.airport_code
JOIN Airports AS arr_airports ON Flights.arrival_airport = arr_airports.airport_code
WHERE Tickets.passenger_name = 'ELLA DMITRIEVA';

7 rows affected.

[('Moscow', 'Yuzhno-Sakhalinsk'),
 ('Moscow', 'Khanty-Mansiysk'),
 ('Khanty-Mansiysk', 'Moscow'),
 ('Moscow', 'Yekaterinburg'),
 ('Yekaterinburg', 'Moscow'),
 ('Yekaterinburg', 'Magnetiogorsk'),
 ('Magnetiogorsk', 'Yekaterinburg')]

### Aircraft model/Total number of seats.

In [10]:
%%sql
SELECT 
    a.model AS "Aircraft Model",
    COUNT(s.seat_no) AS "Total Number of Seats"
FROM 
    aircrafts_data AS a
JOIN 
    seats AS s 
ON 
    a.aircraft_code = s.aircraft_code
GROUP BY 
    a.model
ORDER BY 
    "Total Number of Seats";

 * postgresql://reader:***@10.129.0.25/demo
9 rows affected.

[({'en': 'Cessna 208 Caravan', 'ru': 'Сессна 208 Караван'}, 12),
 ({'en': 'Bombardier CRJ-200', 'ru': 'Бомбардье CRJ-200'}, 50),
 ({'en': 'Sukhoi Superjet-100', 'ru': 'Сухой Суперджет-100'}, 97),
 ({'en': 'Airbus A319-100', 'ru': 'Аэробус A319-100'}, 116),
 ({'en': 'Boeing 737-300', 'ru': 'Боинг 737-300'}, 130),
 ({'en': 'Airbus A320-200', 'ru': 'Аэробус A320-200'}, 140),
 ({'en': 'Airbus A321-200', 'ru': 'Аэробус A321-200'}, 170),
 ({'en': 'Boeing 767-300', 'ru': 'Боинг 767-300'}, 222),
 ({'en': 'Boeing 777-300', 'ru': 'Боинг 777-300'}, 402)]